# Old files
real_responses/
details.csv
details2.csv
backupinit.py

# Service Account Credentials
credentials.json

# Executable
build/
dist/
main.spec

# Browser user data
User_Data/
User_Data_Aditi/

# My settings.yaml file
mysettings.yaml

